<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czp.project.dao.extend.MedicalExtendMapper">

  <select id="selectAll" resultMap="MedicalExtendResultMap">
    SELECT * FROM medical
  </select>

  <select id="selectByParameter" parameterType="String" resultMap="MedicalExtendResultMap">
         SELECT * FROM medical m,old_man om WHERE oldman_name LIKE CONCAT(CONCAT('%', #{text}), '%') AND om.id=m.old_man_id

  </select>

  <resultMap id="MedicalExtendResultMap"
             type="com.czp.project.common.bean.extend.MedicalExtend"
             extends="com.czp.project.dao.MedicalMapper.BaseResultMap">


    <association
            property="oldman"
            column="old_man_id"
            select="com.czp.project.dao.extend.OldManMsgExtendMapper.selectById"></association>

  </resultMap>

</mapper>
