<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czp.project.dao.extend.OmqjExtendMapper">

  <select id="selectAll" resultMap="OmqjExtendResultMap">
    SELECT * FROM old_man_leave
  </select>

<!--   <select id="selectByName" parameterType="String" resultMap="OmzfExtendResultMap">
    SELECT * FROM  oldman_zhuangfang
    WHERE id = #{id,jdbcType=BIGINT}
  </select> -->

  <resultMap id="OmqjExtendResultMap"
             type="com.czp.project.common.bean.extend.QingjiaExtend"
             extends="com.czp.project.dao.OmQingjiaMapper.BaseResultMap">
    <association
            property="oldman"
            column="old_man_id"
            select="com.czp.project.dao.extend.OldManMsgExtendMapper.selectById"></association>
  </resultMap>

</mapper>
