<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czp.project.dao.ex.OldManRuZhuEXMapper">
  <resultMap id="BaseResultMap" type="com.czp.project.common.bean.extend.OldManRuZhuEX">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="time"  property="time"/>
    <result column="user_log" jdbcType="VARCHAR" property="userLog"/>
    <result column="in_room_id" jdbcType="VARCHAR" property="inRoomId"/>
    <result column="backup" jdbcType="VARCHAR" property="backup"/>
     <association property="oldMan" column="oldman_id" select="findOldManById" />
 </resultMap>
 <resultMap id="OldManMap" type="com.czp.project.common.bean.OldMan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oldman_img" jdbcType="VARCHAR" property="oldmanImg" />
    <result column="oldman_name" jdbcType="VARCHAR" property="oldmanName" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="checkintime" jdbcType="DATE" property="checkintime" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="health" jdbcType="VARCHAR" property="health" />
  </resultMap>
  <select id="findOldManById" parameterType="int" resultMap="OldManMap"> 
			select id,oldman_img,oldman_name,age,gender,birthday,checkintime,telphone,health from old_man where id=#{oldman_id} 
		</select> 
<select id="findAllOldManRuZhuEX" resultMap="BaseResultMap"> 
			select * from oldman_ruzhu
	</select>

    <select id="selectByParameter" parameterType="String" resultMap="BaseResultMap">
   SELECT * FROM oldman_ruzhu WHERE oldman_name LIKE CONCAT(CONCAT('%', #{text}), '%')
  </select>
  
</mapper>