<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czp.project.dao.ex.UserLeaveEXMapper">
  <resultMap id="BaseResultMap" type="com.czp.project.common.bean.extend.UserLeaveEX">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="start_time"  property="startTime"/>
    <result column="end_time"  property="endTime"/>
    <result column="state" property="state"/>
    <result column="reson" jdbcType="VARCHAR" property="reson"/>
    <result column="user_manager" jdbcType="VARCHAR" property="userManager"/>
     <result column="time"  property="time"/>
    <result column="backup" property="backup"/>
     <association property="baseUser" column="user_id" select="findUserById" />
 </resultMap>
 <resultMap id="userMap" type="com.czp.project.common.bean.BaseUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <select id="findUserById" parameterType="int" resultMap="userMap"> 
			select id,user_name,password from base_user_info where id=#{user_id} 
		</select> 
<select id="findAllUserLeaverEX" resultMap="BaseResultMap"> 
			select * from user_leave
	</select> 
	<select id="findAllUserLeaverEXByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap"> 
			select * from user_leave where user_id=#{userId}
	</select> 
  <select id="findAllUserLeaverEXByName" parameterType="java.lang.String"  resultMap="BaseResultMap"> 
			select l.id,l.start_time,l.end_time,l.state,l.reson,l.user_manager,l.backup,l.user_id from user_leave l,base_user_info b 
			  where l.user_id=b.id and  b.user_name like  concat(concat("%",#{source}),"%")
	</select> 
</mapper>